.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.componentsContainer {
  display: flex;
  align-items: flex-start; /* Assicurati che gli elementi siano allineati in alto */
}

